.root {
  max-width: 100%;
  padding: 0 20px;
}

.chartContainer {
  width: calc(100%);
  height: calc(100vh - 120px);
}

.heading {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;

  @media screen and (max-width: 800px) {
    font-size: 1rem;
  }
}
